/*ul {
    list-style-type: none;
    margin: 0;
  
    width: 100%;
    height: 50px;
    background-color:gray;
  
    position:sticky;
  }
  
  li {
    
    display: inline;
     color: white;
  padding-left: 10%;
  padding-right: 5%;
  overflow: hidden;
  height: 100%;
  
 
 
    text-decoration: none;
  
   
  }
  li:hover{
    background-color: black;
  }
  
  
  */
  *{
    margin: 0;
  }
  ul {
    display: block;
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #365486;

    
  }
  #sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }
 
  .navbar{
    animation-name:up;
    animation-duration: 1s;
   
    
  }
  .Lowbar{

    position: fixed;
    bottom: 0;
    animation-name:down;
    animation-duration: 1s;
  }

  
  li {
    float: left;
  }
  
  li  {
    display: block;
    color: #DCF2F1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li:hover {
    background-color: #0F1035;
  }
  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  .container{

    

    width: 60%;
    background:rgb(240, 237, 207) ;
   

    overflow: hidden;
    

    margin: 0 auto;
  }
  body{ 
    background-color:   #7FC7D9;
  }
  a{
    color: white;
    text-decoration: none;
  }
  .ram{

    border: #111;
    border: solid 50%;
   
   display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 
    
    
    border-style: solid;

    
  }
  p{
   
    font-family: 'Open Sans', sans-serif;

  }
  br{
    font-family: 'Open Sans', sans-serif;
  }
  h1{
   

    font-family: 'Bungee Spice', sans-serif;
font-family: 'Open Sans', sans-serif;

  }
  h2{


    font-family: 'Bungee Spice', sans-serif;
font-family: 'Open Sans', sans-serif;

  }
  h3{
  

    font-family: 'Bungee Spice', sans-serif;
font-family: 'Open Sans', sans-serif;

  }
 
  .ram:hover{
 animation-name: grow;
 animation-duration: 2s;

  }
  #dole{
    animation-name: up;
    animation-duration: 2s;
  }
  #gore{
    animation-name: down;
    animation-duration: 2s;
  }
  #levo{
    animation-name: Levo;
    animation-duration: 2s;
  }
  #desno{
    animation-name: desno;
    animation-duration: 2s;
  }
  #smanji{
    animation-name: smanji;
    animation-duration: 2s;
  }
  #ulazna{
    animation-name: ulazna;
    animation-duration: 3s;
  }
  #vrti{
    animation-name: spin;
    animation-duration: 2s;
  }
  #slika img{
    width:50px;
    height: 45px;
    padding:0px 0px;
  }
  #slika {
    width:50px;
    height: 45px;
    padding:0px 0px;
  }
  #black{
    color: blue;
  }

  
 

 @keyframes grow {
    50%{transform:scale(1.5,1.5)}

  }
  @keyframes smanji {
    from{transform: translatey(100%)}
    50%{transform:scale(0.5,1)}
   
  
  }
  @keyframes ulazna {
    20%{transform:scale(0.1,0.1)}
    from{transform: translateY(200%)}
    
    
  
 
  }
  @keyframes spin {
    from{transform:scale(1,0.5)}
  

   
   
    
  }
  @keyframes Levo {
    from{transform: translateX(-100%)}
   }
   @keyframes desno {
    from{transform: translateX(100%)}
   }
   @keyframes up {
 from{transform: translatey(-100%)}

   }
   @keyframes down{
    from{transform: translatey(100%)}
      }




  
  
  
